
.navbar-default .navbar-nav>.active>a {
  background-color: #86BBD8;
  color: white;
}

.navbar-default .navbar-nav>.active>a:hover{
  background-color: #336699;
  color: white;
}

.navbar-default .navbar-nav>.n-active>a:hover {
  background-color: #86BBD8;
  color: white;
}

.parallax {
    /* Full height */
    height: 50%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}
.title {
  font-size:6rem;
  font-weight:300;
  line-height:1.1;
  color:white;
}
.nav-name{
  
}
